@media (max-width:860px){
    .menu{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .toggler{
        position: absolute;
        top:30px;
        right: 10px;
        width: 60px;
        height: 60px;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        visibility: visible;
    }
    
    .ham{
        position: absolute;
        top: 30px;
        right: 10px;
        width: 60px;
        height: 60px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #7477b9 ;
    }
    .ham>div{
        position: absolute;
        width: 60%;
        height: 3px;
        border-radius: 1.5px;
        background-color: #ffc94b ;
        transition: .4s;
    }
    
    .ham>div:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background-color: #ffc94b;
        top: -10px;
        left: 0;
        transition: .4s;
    }
    
    .ham>div:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background-color: #ffc94b ;
        top: 10px;
        left: 0;
        transition: .4s;
    }
    .menu.toggler:checked + .ham>div{
        transform: rotate(135deg);
    }
    .menu.toggler:checked + .ham > div:before,.menu.toggler:checked + .ham > div:after{
        top:0;
        transform: rotate(90deg);
    }
    .menu .toggler:checked:hover + .ham > div {
        transform: rotate(225deg);
      }


      .menu .toggler:checked ~ .listanav {
        visibility: visible;
      }
      
      .menu .toggler:checked ~ .listanav > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
      }
      
      .menu .toggler:checked ~ .listanav > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
      }
      .menuar{
          display:flex;
          flex-direction: column;
          margin-right: 80px;
      }
      li{
          margin-bottom: 10px;
      }
      .listanav{
          justify-content: flex-end;
      }
      .menu .listanav {
        position: fixed;
        margin-top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
  
      }

      .listanav > div{
        margin:0;
        position: fixed;
        top:-50px;
        right: -50px;
        transform: translateX(150%) translateY(50%);
        width: 220px;
        height: 220px;
        border-radius: 20%;
        background-color: rgba(189,159,232, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: bottom;
        transition: .6s;
        margin-top: 20px;
    }
    a{
        margin-top: 60px;
        font-size: 10px;

    }
}