
/*Media Queries */
@media (max-width:1040px){

    #uno{
        display:flex;
        flex-direction:column;
        align-items: center;
        height: 460px;   
    }
   .short{
       display:flex;
       align-self: center;
       width: 100px;
       height: 100px;
   }
   .aboutme{
       margin: 0 auto;
       height: 100px;
   }
   #imgen{
       margin-top: 40px;
       margin-bottom: 20px;
   }
   h1{
       margin-top: 30px;
   }
   textarea{
       margin-left: 30px;
   }
   .skilldivcontainer{
    margin-top: 30px ;
    }
}

@media (max-width:990px){
    img{
        width: 800px;
        height: 380px;  
    }
    #linkuno{
        width: 800px;
        height: 380px;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        width: 800px;
        height: 380px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:800px){
    .aboutme{
        width:70%;
    }
    h1{
        font-size: 25px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .skillss{
        margin-top: 0px;
        font-size: 16px;
    }
 
    .table{
        display:flex;
        flex-direction:column;
        margin-top: 20px;
    }
    .formbox{
        align-self: center;
        margin-top: 10px;
        width:60%;
        height: 360px;
    }
    #name{
        margin-left: 30px;
    }
    #email{
        margin-top: 20px;
    }
    textarea{
        width: 60%;
    }
    #partone{
        display:flex;
        flex-direction: column;
    }
    input{
        width:60%;
        margin-left: 30px;
    }
    .formrigth{
        align-self: center;
        margin-top: 20px;
        width:60%;
        height: 80%;
    }
    .back{
        height: 600px;
    }
    #tres{
        height: 510px;
    }
    p{
        width:60%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }
    h3{
        text-align: center;
        margin-left:auto;
        margin-right: auto;
    }
    #titulo{
        text-align:center;
        font-size:14px;
        margin-left: auto;
        margin-right: auto;
    }
    li{
        text-align: center;
        margin-top: 0px; 
        margin-right: 25px;
    }
    .social{
        margin-bottom: 20px;
    }
    img{
        width: 600px;
        height: 330px;
        
    }
    #linkuno{
        width: 600px;
        height: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        width: 600px;
        height: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    .animationn{
        background:transparent;
        padding:0px;
        width: 0px;
        border-bottom-left-radius: 0px;
    }

}
@media (max-width:710px){
    img{
        width: 420px;
        height: 230px;  
    }
    #linkuno{
        width: 420px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
    #tres{
        height: 480px;
    }
    img{
        width: 350px;
        height: 230px;  
    }
    #linkuno{
        width: 350px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        width: 350px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:450px){
    .myname{
        font-size: 50px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    .skillss{
        font-size: 15px;
    }
}


@media (max-width:420px){
    .myname{
        font-size: 40px;
    }
    h1{
        margin-top: 10px;
        font-size: 20px;
    }
    h2, h3{
        font-size: 20px;
    }
    .skillss{
        font-size: 12px;
        text-align: center;
        margin: 10px;
    }
    #tres{
        height: 400px;
    }
    p{
        font-size: 14px;
    }

    li{
        margin-right: 20px;
        font-size: 16px;
        text-align: center;
    }
    #email{
        margin-left: 30px;
    }
    #imgen{
        margin-right: 0px;
    }
    .lista{
        font-size: 4px;
    } 
    .skills{
       margin-right: 10px;
    }   
}
@media (max-width:380px){
    #uno{
        border-bottom-right-radius: 60px;
        width:100%;   
    }
    .aboutme{
        width:70%;
    }
   
    .table{
        display:flex;
        flex-direction:column;
        margin-top: 20px;
    }
    .formbox{
        align-self: center;
        margin-top: 10px;
        width:60%;
        height: 360px;
    }
    #name{
        margin-left: 30px;
    }
    #email{
        margin-top: 20px;
        margin-left:30px
    }
    textarea{
        width: 60%;
    }
    #partone{
        display:flex;
        flex-direction: column;
    }
    input{
        width:60%;
        margin-left: 30px;
    }
    .formrigth{
        align-self: center;
        margin-top: 30px;
        width:70%;
        height: 80%;
    }
    .back{
        height: 600px;
    }
    .myskills{
        font-size: 14px;
    }
    p{
        width:60%;
        font-size: 12px;
    }

    h3{
        text-align: center;
        margin-left:auto;
        margin-right: auto;
        font-size: 20px;
    }
    #titulo{
        text-align:center;
        font-size:14px;
        margin-left: auto;
        margin-right: auto;
    }
    li {
        font-size: 14px;
        margin-right: 10px;
        text-align: center;
    }
    ul{
        padding:0px;
    }
    .info{
        font-size: 14px;
    }
    .material-icons{
        margin-right: 10px;
    }
/* just for the sake of being able to see the logo, will adjust nav font sixe*/
    .lista{
        font-size: 4px;
    }
    #imgen{
        margin-right: 0px;
    }
    #send{
        padding-left: 0px;
    }
    img{
        width: 300px;
        height: 180px;  
    }
    #linkuno{
        width: 300px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    a{
        width: 300px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    #tres{
        height: 300px;
    }
    #linke{
        margin: 0px;
    }
    #git{
        margin: 0px;
    }
}
