body{
    margin:0;
    background-color:rgb(235,232,231);
}
.imga{
    background-image: url(https://res.cloudinary.com/g31ssa/image/upload/c_scale,h_240,w_180/v1594675190/LOGOG_r5tr3u.png);
    width:290px;
    height: 170px;
    background-repeat: no-repeat;
    align-self: center;
    padding-bottom:20px;
    margin:0;

}
.menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-weight: bolder;
}
nav{
    display:flex;
    justify-content: space-between;
}
.lista{
    padding-right: 30px;
    font-size: 16px;
    color: #e2b241;
}
#mover{
    margin-right: 10px;
}
#imgen{
    background-image: url(https://res.cloudinary.com/g31ssa/image/upload/c_scale,h_200,w_200/v1594680808/woman-profile-icon-64_xwkmgc.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-right: 40px;
}
#uno{
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color:#ffc94b;
    height: 280px;
    border-bottom-right-radius: 60px;
}
.aboutme{
   background-color: #bd9dea;
   width:600px;
   height: 200px;
   margin: 0 auto;
   margin-top: 250px;
   border-radius: 20px;
   border: rgb(235,232,231) solid 6px;
}
h1{
   text-align: center;
   margin-top: 55px;
   color: rgb(235,232,231);
}
ul{
    list-style-type: none;
    color: rgb(235,232,231);
    display: flex;
    flex-wrap: row;
    justify-content: center;
}
li{
    margin-right: 70px;
    margin-top: 30px;
    font-size: 20px;
}
p{
    margin-top: 180px;
    margin-left: 200px;
    margin-right: 200px;
}
#tres{
    display:flex;
    flex-direction: column;
    height: 480px;
    border-top-left-radius: 60px ;
    background-color: #ea7186;
    margin-top: 100px;
    text-align: center;
}
.proyectos{
    display:flex;
    
}
h2{
    margin-top: 40px;
    color:rgb(235,232,231);
    font-weight: bolder;
}
.links{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width:360px;
    height: 260px;
    border: solid 5px rgb(235,232,231) ;
    border-radius: 8px;   
}
.for{
    margin-top: 20px;
}
.back{
    display:flex;
    background-color:rgb(235,232,231) ;
    height: 400px;
}
.backsecond{
    display:flex;
    height: 180px;
    background-color: #7477b9;
}







footer{
    display: flex;
    height: 40px;
    background-color:#e2b241 ;
    border-top:rgb(235,232,231) solid 2px ;
}