.imga{
    background-image: url(https://res.cloudinary.com/g31ssa/image/upload/c_scale,h_240,w_180/v1594675190/LOGOG_r5tr3u.png);
    width:290px;
    height: 170px;
    background-repeat: no-repeat;
    align-self: center;
    padding-bottom:20px;
    margin:0;

}
.menu{
    display:flex;
    flex-direction: row;
    align-items: center;
}
nav{
    display:flex;
    justify-content: space-between;
}
.lista{
    padding-right: 30px;
    font-size: 16px;
}
#mover{
    margin-right: 10px;
}